/* Sizes
-------------------- */
$base: 10px;
$xxs: 0.5 * $base;
$xs: 1 * $base;
$s: 2 * $base;
$m: 3 * $base;
$l: 4 * $base;
$xl: 5 * $base;
$xxl: 6 * $base;
$xxxl: 10 * $base;
/* Font Sizes
------------------ */
$f-xxs: 1 * $base;
$f-xs: 1.25 * $base;
$f-s: 1.6 * $base;
$f-m: 2.5 * $base;
$f-l: 3.15 * $base;
$f-xl: 6 * $base;
$f-xxl: 6.6 * $base;

/* Font Properties
---------------------------------------------------------------------------- */
$font-family: SSP;
$base-font-size-desktop: $f-s;
$base-font-size-mobile: $f-xs;
$font-icons: 'Material Icons';

/* Font Weights
---------------------------- */
$fw-regular: 400;
$fw-bold: 700;

/* Line Heights
---------------------------------------------------------------------------- */
$lh-tight: 110%;
$lh-default: 130%;
$lh-loose: 150%;

/* Base Colors
---------------------------------------------------------------------------- */
$white: #fff;
$lightest: #f2f2f2;
$lighter: #f0f0f0;
$light: #ddd;

$darkest: #222;
$darkest-50: rgba(0, 0, 0, 0.8);
$darker: #444;
$dark: #b4b4b4;

$accent-dark: #000321;
$accent-bright: #fecb2f;

/* Viewports
--------------------*/
$vp-small: 85 * $base;
$vp-medium: 90 * $m;
$vp-large: 94 * $m;

/* Transitions Times
---------------------*/
$transition-fast: 0.2s;
$transition-normal: 0.4s;

/* Misc
------------------------- */
$max-width-content: 94 * $base;
$modal-height: 46 * $base;
$gutter-grid: $s;
$grid-count: 12;
$grid-mobile-count: 3;
$grid-mobile-gutter: 2px;
$grid-span-half: $grid-count / 2;
$border-width: 2px;
$scrollbar-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
